#zee-paneltool{
	position:fixed;
	top:10%;
	right:0;
	z-index:999
}
#zee-paneltool .pn-action{
 background: none repeat scroll 0 0 #FF7800;

	-moz-box-shadow: 3px 0 0px #888888;
	-webkit-box-shadow:3px 0 0px #888888;
	box-shadow:3px 0 0px #888888;
    margin-right: 0px;
    margin-top: 0px;
    padding: 12px;
}

#zee-paneltool .panel-inner {
	width:368px;
	background:#FFF;
	padding:12px 16px;
	-moz-box-shadow: 1px 0 3px #888888;
	-webkit-box-shadow: 1px 0 3px #888888;
	box-shadow: 1px 0 3px #888888;margin-top:44px;

}
.box-patterns div{
	display:block ;
	width:38px;
	height:38px;
	float:left;
	cursor:hand;
	cursor:pointer;
	border:solid 1px #f3f3f3;
	margin:6px;
	border:1px solid #ccc;
	
}
.box-patterns div.active{
	border:solid 1px red
}
