.zeecontentslider {
	position:relative;
	margin:0 0 20px;padding:5px;
	border:1px solid #ddd;
}
.zeecontentslider .carousel-inner{
	position:relative;
}
.zeecontentslider .banner-info{
	position:absolute;
	top:40px;
	left:20px;
	z-index:4;
	width:400px;
	padding:12px;
	min-height:40px;
	opacity:0.7;
  filter: alpha(opacity=70);
}
.zeecontentslider .banner-info h4{
	font-size:54px; color:#4d4e4f;line-height:60px;
}
.zeecontentslider .banner-info h4 span{
	color:#dd7953; font-size:42px;
}
.zeecontentslider .banner-info p{margin:0px; font-size:11px; color:#737373}

.zeecontentslider .carousel-indicators{
	position:absolute;
	bottom:0px;
	left:0px;
	margin:0px; padding:5px; background:#fff;
}
.zeecontentslider .carousel-control{
	z-index:9999; bottom:20%; border-radius:0px; top: auto;
	display: none;
}
.zeecontentslider .carousel-control.right {right:0px}
.zeecontentslider .carousel-control.left {left:0px}
.zeecontentslider .carousel-indicators li{ display:block;float:left;	z-index:20;
	padding:5px; cursor: pointer;
	margin:3px; background:url(../image/icon-nav.png) top left; }
	
.zeecontentslider .carousel-indicators li:hover,
.zeecontentslider .carousel-indicators li.active{ background-position:top right }	

