.productcarousel {
	position:relative;
	border-bottom:1px solid #E7E7E7;
}
.productcarousel .box-heading:before {
    border-color: #ea6d07 #ea6d07 transparent transparent;
    border-style: solid;
    border-width: 35px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.productcarousel .box-heading:after {
    color: #FFFFFF;
    font-size: 15px;
    position: absolute;
    right: 6px;
    top: 0;
    transform: rotate(47deg);
    -webkit-transform: rotate(47deg);
	-moz-transform: rotate(47deg);
	-ms-transform: rotate(47deg);
	-o-transform: rotate(47deg);
    text-transform: uppercase;
}
.hot.productcarousel .box-heading:after {
	content: "HOT";
}
.new.productcarousel .box-heading:after {
	content: "NEW";
}
.sale.productcarousel .box-heading:after {
	content: "SALE";
}
.new.productcarousel .box-heading:before{
	border-color: #1681bf #1681bf transparent transparent;
}
.sale.productcarousel .box-heading:before{
	border-color: #8cab00 #8cab00 transparent transparent;
}
.home #content .box.productcarousel .box-content {border:1px solid #ddd}
.productcarousel .cart,
.productcarousel .price {text-align:center}
.productcarousel .product_block {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.productcarousel .description {text-align:center}
.last .product_block{border-bottom:none}
.productcarousel .product_block.last {border-right:none}

.productcarousel .carousel-control{
	z-index:10
}
.productcarousel .box-product .name a{text-align:center}
.productcarousel .nav{
	padding:0;
	margin:0
}

.productcarousel .carousel-controls{
	position:absolute;
	top:120px;
	left:0;
	z-index:11;
	width:26px;
	height:61px;padding:1px;
	background:url(../image/bg-carousel-controls.png) top left no-repeat;

}
	.productcarousel .carousel-controls a.carousel-control{
		font-size: 19px;
		font-weight: bold;
		height: 20px;
		line-height: 1em;
		margin: 0;
		text-decoration: none;
		width: 20px;
	}
.productcarousel .tab-content, .producttabs .box-product{
	overflow:inherit
}
.productcarousel .box-product{
	
}
.productcarousel  .carousel-controls a.carousel-control{
	font-size: 19px;
	font-weight: bold;
	height: 29px;
	text-indent:-9999em;
	margin: 0;
	text-decoration: none;
	width: 24px;border:none;
	padding:0px; background:none;border-radius:0;position:static;border-radius:0;
}
.productcarousel  .carousel-controls a.left{background:url(../image/carousel_move.png) top left no-repeat;  }
.productcarousel  .carousel-controls a.right{background:url(../image/carousel_move.png) top right no-repeat; border-top:1px solid #ddd }
.productcarousel  .carousel-controls a.left:hover {background-position:bottom left}
.productcarousel  .carousel-controls a.right:hover {background-position:bottom right}